* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  background-image: url(/assets/images/background-pattern-desktop.svg);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.background2 {
  background-color: hsl(275, 100%, 97%);
  height: 65vh;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.container {
  background-color: hsl(0, 0%, 100%);
  height: auto;
  width: 50%;
  margin: 100px auto;
  z-index: 100;
  border-radius: 10px;
}
.container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 85%;
  padding-top: 30px;
  margin: auto;
  position: relative;
}
.faqs {
  display: flex;
  align-items: center;
  gap: 20px;
}
.FAQs-div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
}

.FAQ-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.icon {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding-bottom: 40px;
}
.ques {
  cursor: pointer;
  width: 80%;
  padding-bottom: 30px;
}
.ques:hover {
  color: hsl(281, 83%, 54%);
}
.ans {
  display: none;
  font-size: 15px;
  color: hsla(280, 4%, 67%, 0.886);
}
.dropdown_ans {
  display: initial;
  margin-bottom: 30px;
}
.minusIcon {
  display: none;
}
.changeIcon .plusIcon {
  display: none;
}
.changeIcon .minusIcon {
  display: initial;
}
@media (max-width: 700px) {
  .container {
    width: 70%;
  }
}
@media (max-width: 370px) {
  body {
    background-image: url(/assets/images/background-pattern-mobile.svg);
  }
  .container {
    width: 80%;
  }
  .ques,
  .ans {
    font-size: 13px;
  }
}
